* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body{
    background-color: #333333;
}

#sign-up{
    border-radius: 100px;
    padding: 10px;
    border: 1px solid white;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background-color: #333333;
}

input[type=submit], button{
    border-radius: 25px;
    border: 1px solid white;
    width: 25%;
    height: 50px;
    background-color: #333333;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    transition: 0.5s ease-in-out;
}

#top-form, #bottom-form{
    display: inline-table;
}

input[type=radio], p, input[type=checkbox]{
    display: inherit;
}

h1{
    text-decoration: underline;
}

input[type=submit]:hover, button:hover {
    cursor: pointer;
    background-color: white;
    color: #333333;
}


textarea{
    text-align: left;
}

button{
    display: none;
}

input[type=text], input[type=date], input[type=number], textarea, select    {
    background-color: #333333;
    border: none;
    border-bottom: 2px solid white;
  }

input[type='checkbox'] {
    accent-color: grey;
} 

input[type='radio'] {
    accent-color: grey;
} 



@media  screen and (max-width:600px) {
    #next {
        display: block;
    }
    input[type=submit], #bottom-form{
        display:none;
    }
    #sign-up{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-color: #333333;
    }
}

