* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid #f0f0f08c;
    height: 10vh;
}

nav button:hover {
    background-color: #727272;
    transition: 350ms ease-in-out;
    cursor: pointer;
}

nav button {
    border: none;
    width: 15%;
    height: 10vh;
    right: 0;
    top: 1;
    display: block;
}



nav button, nav h1 {
    display: inline;
    vertical-align: middle;
    position: fixed;
    top: 0;
}

nav #addTest{
    right: 42vw;
}

#top{
    margin-top: 20vh;
}

.summary {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    width: 60vh;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15vh;
}

.summary h1 {
    margin-top: 19vh;
    font-size: 10vh;
    margin-bottom: 0;
}

.summary h2 {
    margin-top: 0;
    font-size: 7vh;
}



a{
    text-decoration: none;
    color: black;
}

table, th, td {
    border: 1px solid black;
}

