body{
    display: flex;
    flex-wrap: nowrap;
    background-color: #72d1f6;
}

#title, form{
    width: 50vw;
    text-align: center;
    line-height: 3.5vh;

}

form{
    height: 100vh;
    background-color: #ffffff;
}

#title{
    padding-top: 30vh;
}

.inline{
    display: inline;
}

#error, #emailAt{
    padding: 1vh;
    border: red 1px solid;
    background-color: red;
    color: white;
    width: 47vw;
}

input[type=submit]:hover{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    box-shadow: -5px -5px 2px #72d1f6;
}

input[type=submit]{
    background-color: #ffffff;
    border: 1px solid black;
    height: 7vh;
    width: 20vw;
    border-radius: 8px;
    cursor: pointer;
    font-size: 4vh;
    margin-bottom: 13px;
    transition: 0.1s ease-in-out;
}